.center-text
{
    text-align: center;
    margin-top: 1rem;
}
.form-title
{
    display: block;
    width: 60%;
    font-size: 1.2rem;
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin: 2rem auto 1rem auto; 
}
.notes-textarea
{
    display: inline-block;
    width: 60%;
    margin: 0% 1% 0% 19.5%;
    padding: 8px;
    border: none;
    border-radius: 4px;
}
.notes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 220px;
    height: 250px;
    border:1px solid var(--black-light);
    border-radius: 4px;
    margin: 1rem;
    padding: 1rem;
}
.note-footer
{
    position: sticky;
    bottom: 0;
    color: var(--black-light);
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}
.note-footer .fa:hover
{
    cursor: pointer;
    color: var(--black);
}
.note-footer .fas:hover
{
    cursor: pointer;
    color: var(--black);
}
.notes-list
{
    display: flex;
    flex-wrap: wrap;
}

.save-btn
{
    display: block;
    padding:8px 24px;
    border: none;
    border-radius: 4px;
    margin: 2px auto;
    background-color: var(--black);
    color: var(--white);
}

.color-round
{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.color-block
{
    display: flex;
    column-gap: 1rem;
    padding: 1rem;
    margin-left: 40%;
}
.timeStamp
{
    margin-left:30%;
}
.select-label
{
    margin-left: 1rem; 
}
.sel-label
{
    display: absolute;
    top: 0px;
    left: 0px;
    background-color:var(--warning-color);
    border-radius: 10%;
    border: none;
    margin-left: 10px;
    padding: 0px 5px;
}
.card-title
{
    display: inline;
}






