.mainBlock
{
  display: grid;
  grid-template-columns: 0.8fr 4fr;
  grid-template-areas: "sidenav routes";
}
.sidenav-block
{
  grid-area: sidenav;
}
.routes-block
{
  background-color: var(--grey-light);
  grid-area: routes;
}